# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ruff_cache/

# Secrets
.env
settings/.env

# Logs
logs/*
!logs/.gitkeep

# Local data
db.sqlite3
media/
staticfiles/

# IDE / OS
.idea/
.vscode/
.DS_Store
